
/* navbar font and size */
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: #005EFF;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

/*Creates a bottom footer section*/
.page-footer{
    background-color: rgb(75, 75, 75);
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* h3 style */
h3{
    color: #005EFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 15px;
}

/* thumbnail image */
.img-thumb{
    padding:10px;
    border: none;
}

/* p font and size*/
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding:10px;
}

/* body background*/
body{
    background-color: rgb(223, 222, 222);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

/* image border styling*/
.pic{
    border: 3px solid #005EFF;
}
/* navbar spacing*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.dropdown-menu {
    margin: 0;
}

/* content style*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}


/* table text adjustments*/
tr>th:nth-child(1),
tr>th:nth-child(3),
tr>th:nth-child(6),
tr>th:nth-child(7),
tr>th:nth-child(8),
tr>th:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(1),
tr>td:nth-child(3),
tr>td:nth-child(6),
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9),
tr>td:nth-child(10) {
    text-align: right;
}


/* small screen sizing */
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(81, 175, 160)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}
